.form-container {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.form-container button {
    width: 200px;
    margin: 0 auto;
    height: 40px;
    font-size: 30px;
}
.form-container input {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px ;
}
.input__title {
    padding: 10px 5px;
}
.input__details {
    padding: 20px 5px;
}
.list__notes {
    width: 800px;
    margin: 0 auto;
    background-color: #ccc;
    padding: 20px;
}
.item__notes {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 20px;
    margin-top: 10px;
}
.info__notes {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.title {
    font-size: 30px;
}
.detail {
    display: flex;
    flex-direction: column;
}
.item-detail {

}
.details_note {
    text-align: left;
    margin-top: 20px;
}